<p><strong>智融均策公共关系机构</strong>致力于提供专业的整合营销传播服务，包括网络广告、网络公关、搜索引擎优化、视频营销等。</p>

<p>曾为2011年北京国际设计周、2012年北京国际设计周、2012年中国艺术品产业博览会、昌河汽车、2012北京节拍夏季活动等多个政府和企业单位提供公关策划与推广服务，凭借自身丰富的行业资源、贴心的服务流程、高效的执行力，赢得了客户们的一致赞赏；并长期成为这些客户们的公关传播供应商。</p>

<h2>联系我们</h2>

<p>地址：北京市亦庄经济开发区</p>

<p>邮编：</p>

<p>Email：<a href="mailto:zrconsultation@126.com">zrconsultation@126.com</a></p>

<p><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=113927088&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:113927088:52" alt="点击这里给我发消息" title="点击这里给我发消息"/>113927088</a></p>

<p><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=279180802&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:279180802:52" alt="点击这里给我发消息" title="点击这里给我发消息"/>279180802</a></p>